{%- include menu/inputs.html -%}

<header class="header noprint">
  <div class="info">
    <img src="{{ '/assets/img/about.png' | relative_url }}" alt="">
    <h1 class="site-title"><a class="page-link" rel="author" href="{{ '/' | base_url }}">{{ site.title | escape }}:\</a></h1>
  </div>

  <nav class="menu">
    {%- include menu/options.html -%}

    <!-- Menu itens -->
    {%- include menu/file.html -%}
    {%- include menu/contacts.html -%}

    {%- include menu/items.html -%}
  </nav>
</header>