/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: calc(#{$spacing-unit} / 2);
  margin-bottom: -webkit-calc(#{$spacing-unit} / 2);
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */

/**
 * Figures
 */

/**
 * Lists
 */

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
  text-decoration: none;
  font-weight: 700;

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: none;
    }
  }
}
a,
a:active,
a:visited {
  color: $link-color;
}

/**
 * Blockquotes
 */

/**
 * Code formatting
 */

/**
 * Container
 */

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.svg-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-top;
}

.mail .svg-icon {
  fill: #4b4646;
}
.linkedin .svg-icon {
  fill: #0077b5;
}
.github .svg-icon {
  fill: #474747;
}
.twitter .svg-icon {
  fill: #55acee;
}
.youtube .svg-icon {
  fill: #ff2020;
}
.instagram .svg-icon {
  fill: #a620ff;
}
.facebook .svg-icon {
  fill: #3b5998;
}
.dribbble .svg-icon {
  fill: #ff6600;
}
.flickr .svg-icon {
  fill: #4787ff;
}
.pinterest .svg-icon {
  fill: #cb2027;
}
.whatsapp .svg-icon {
  fill: #26cb20;
}
.mastodon .svg-icon {
  fill: #25abf8;
}
.googleplus .svg-icon {
  fill: #e7353b;
}
.rss .svg-icon {
  fill: #ff580a;
}

/**
 * Tables
 */
