// Header
.header {
  background-color: $grey-color;
  color: $text-color;
  padding: 5px;
  font-size: 20px;
  @include media-query($on-palm) {
    font-size: $small-font-size;
  }
  .info {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 5px;
    background-color: #000098;
    color: #ffffff;
    .site-title {
      margin: 0;
    }
    a {
      text-decoration: none;
      color: $light-color;
    }
  }
  @include media-query($on-palm) {
    img {
      height: 20px;
    }
  }
}
