<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="windows-div">
      <div class="windows">
        <aside class="folders">
          <div class="window-content">
            {%- include aside.html -%}
          </div>
        </aside>
        <div class="content">
          <div class="window-content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

  </main>



  {%- include footer.html -%}

</body>

</html>